@media(max-width: 1000px) {
    header::before {
        background: url('../images/bg-hero-mobile.svg'), var(--pale-cyan);
    }

    .header-container {
        padding: 2rem 1.5rem;
        max-width: 600px;
    }

    .header__logo {
        height: 1.25rem;
        margin-top: 0.3rem;
    }

    .header__btn {
        padding: 0.3rem 1.5rem;
        font-size: 0.9rem;
    }

    .hero {
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }

    .hero__text-container {
        margin-top: 5.7rem;
        text-align: center;
    }

    .hero__heading {
        font-size: 1.9rem;
    }

    .hero__paragraph {
        font-size: 1.25rem;
        margin-top: 1.5rem;
    }

    .hero__btn {
        padding: 0.9rem 5rem;
        font-size: 0.9rem;
    }

    .hero__image {
        width: 380px;
    }

    .main-container {
        padding: 4.3rem 2rem;
        max-width: 1000px;
        gap: 3rem;
    }
    
    .card {
        flex-direction:column-reverse;
        gap: 0;
    }

    .card__text,
    .card-middle__text {
        padding: 0.5rem 3rem 3rem 3rem;
        text-align: center;
    }

    .card__heading,
    .card-middle__heading {
        font-size: 1.6rem;
    }
    
    .card__paragraph,
    .card-middle__paragraph {
        font-size: 1rem;
        line-height: 1.6;
    }

    .card__image {
        width: 300px;
        height: 250px;
    }

    .card__image-container,
    .card-middle__image-container {
        display: flex;
        justify-content: center;
    }
    
    .flowing-card {
        width: 25rem;
        padding: 3.3rem 1rem;
        transform: translateY(6rem);
    }

    .flowing-card__heading {
        font-size: 1.3rem;
    }

    .flowing-card__btn {
        font-size: 0.8rem;
        padding: 1rem 4rem;
    }

    

}